*{
    margin: 0;
    padding: 0;
}

body{
    background: url(planeta.jpg) no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    counter-reset: count;
}


svg{
    width: 50px;
    height: 50px;

    path{
    fill: yellow;
    }
}

.light{
    position: absolute;
    left: -99999999px;
    visibility: hidden; 

    &:checked{
        counter-increment: count;

    }
}

.title{
    position:absolute;
    right: 30px;
    top: 30px;
    color: white;
    &::before{
        content: counter(count);
    }

}

.bulb{
    position: absolute;

}

.bulb1{
    animation: bulb-rise1 3s 0s both;
}
.bulb2{
    animation: bulb-rise2 3s 3s both;
}
.bulb3{
    animation: bulb-rise3 3s 6s both;
}

@keyframes bulb-rise1{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: random(75) + vh;
        left: random(80) + vw;
    }
}

@keyframes bulb-rise2{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: random(90) + vh;
        left: random(55) + vw;
    }
}

@keyframes bulb-rise3{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: random(70) + vh;
        left: random(45) + vw;
    }
}