.product {
    width: 250px;
    padding: 24px;
    border: 1px solid #000;
}

.product_img {
    background-color: foretgreen;
    height: 150px;
}

.product_new::after {
    content: 'new';
}