@import 'vars';
@import 'mixins';


.top-banner {
    margin-bottom: 200px;

    &__content {
        background-image: url("../images/image_laceholder.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        height: 356px;
    }
}

.blog-details {
    margin-bottom: 96px;

    &__content {
        display: grid;
        grid-template-columns: 799px 345px;
        justify-content: center;
        align-items: flex-start;
        gap: 52px;
    }
}

.article {

    &__heading {
        @include font-DMSerifDisplay-regular($secondPrimaryColor, 50px, 1.25);
        letter-spacing: 1px;
        margin: 0;
        margin-bottom: 21px;
    }

    &__image {
        margin-bottom: 46px;
    }

    &__subcontent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 48px;

    }

    &__date {
        @include font-jost-regular($fourthPrimaryColor, 16px, 1.5);
        letter-spacing: 0.16px;
        text-transform: capitalize;
        margin: 0;
    }

    &__text {
        @include font-jost-regular($fourthPrimaryColor, 22px, 1.5);
        letter-spacing: 0.22px;
        margin: 0;
        margin-bottom: 35px;

        &:nth-child(3) {
            margin-bottom: 24px;
        }
    }

    &__subtext-box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 14px;
        margin-bottom: 32px;

        &:nth-child(3) {
            margin-bottom: 44px;
        }
    }

    &__subtext-span {
        @include font-DMSerifDisplay-regular($firstPrimaryColor, 20px, 1.25);
        letter-spacing: 0.4px;
        margin: 0;
    }

    &__subtext {
        @include font-jost-regular($fourthPrimaryColor, 22px, 1.5);
        letter-spacing: 0.22px;
        margin: 0;
    }
}

.breadcrumbs {
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;

    }

    &__item {

        &:not(:last-child)::after {
            content: "/";
            margin-left: 8px;
            margin-right: 8px;
        }
    }

    &__link {
        @include font-jost-regular($fourthPrimaryColor, 16px, 1.5);
        letter-spacing: 0.16px;
        text-transform: capitalize;
        margin: 0;
        @include transition-fast();

        &:hover {
            color: $firstPrimaryColor;
            @include transition-slow();
        }

        &:active {
            color: $fourthPrimaryColor;
            @include transition-slow();
        }

        &:focus {
            color: $firstPrimaryColor;
            @include transition-slow();
        }
    }
}


.quotes {
    margin-bottom: 27px;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 53px 200px;
        border-radius: 50px;
        background: $thirdPrimaryColor;
    }

    &__text {
        @include font-DMSerifDisplay-regular($firstPrimaryColor, 25px, 1.25);
        text-align: center;
        font-style: italic;
        letter-spacing: 0.5px;
        margin: 0;
    }
}

.sidebar {
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
    }

    &__heading {
        @include font-DMSerifDisplay-regular($secondPrimaryColor, 25px, 1.25);
        letter-spacing: 0.5px;
        margin: 0;
    }

    &__buttons-box {
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__button {
        @include font-jost-regular($secondPrimaryColor, 18px, 1.25);
        letter-spacing: 0.36px;
        border: none;
        border-radius: 10px;
        background-color: $thirdPrimaryColor;
        padding: 9px 30px;
        @include transition-fast();

        &:hover {
            background-color: $firstPrimaryColor;
            @include transition-slow();
        }

        &:focus {
            color: $mainColorOfSite;
            background-color: $secondPrimaryColor;
            @include transition-slow();
        }
    }

    &__button_active {
        color: $mainColorOfSite;
        background-color: $secondPrimaryColor;
    }
}