*{
    margin: 0;
    padding: 0;
}

.product_box {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 40px;
}
.product{
    position: relative;
}

.btn_del{
    position: absolute;
    top: 28px;
    right: 22px;
    height: 18px;
    width: 18px;
    font-size: 0;
    border: none; 
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(Vector.svg);
    cursor: pointer;
}

.content{
    display: flex;
    width: 600px;
    box-shadow: 20px 20px 25px rgba(0,0,0,0.12);
}

.product_img{
    width: 262px;
}

.product_desc{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: normal;
    color: #575757;
    padding: 22px 100px 60px 30px;
}

.product_name{
    color: #222;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom:  42px;
}
/* .product_price_label{

} */
.product_price{
    color: #ef5b70;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* .product_color {

} */

/* .product_size {

} */

.product_qty{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
}

.input_label {
    height: 25px;
}

.input_quantity{
    width: 44px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    color: #656565;
    border: 1px solid #eaeaea;

}